<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sneeze Wiki</title>
</head>
<body>
    <link type="text/css" style="./static/fonts.css"/>
    <script>
        const link = 'http://localhost:8080/';
    </script>
    <textarea rows="1" id="search" cols="50" style="display: block; margin-left: auto; margin-right: auto; text-alignment: center;"></textarea>
    <button id="button" onclick="search();" style="display: block; margin-left: auto; margin-right: auto; top: 19px; position: relative;">search</button>
    <script src="./static/search.js"></script>
</body>
</html>
